body {
    background-color: #8ACE00;
    font-family: Arial, Helvetica, sans-serif; text-transform: lowercase; color: black; text-align: center;
}

.centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}